name: Release
on:
  release:
    types:
      - published
jobs:
  login:
    runs-on: ubuntu-latest
    steps:
    - name: CheckCode
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push and build to DockerHub
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: donkevlar/hytale-server-docker:latest, donkevlar/hytale-server-docker:${{ github.run_number }}
